#notification {
  position: fixed;
  top: 5rem;
  right: 3rem;
  z-index: 999999;
}

.notification-item {
  display: flex;
  position: relative;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  max-width: 350px;
  box-shadow: 3px 2px 2px 3px rgb(0 0 0 / 50%);
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  cursor: pointer;
  animation: sideTopRight 0.5s ease forwards;
}

@keyframes slideInleft {
  0% {
      opacity: 0;
      transform: translateX(calc(100% - 3rem));
  }
  50% {
      opacity: 0.3;
  }
  50% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
      opacity: 0.8;
      transform: rotate(720deg);
  }
  100% {
      opacity: 0;
      transform: rotate(0);
  }
}
.notification-border{
  position:absolute;
  top: 0;
  left:0;
  height:100%;
  width:1rem;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
}
.notification-border--countdown{
  height:0%;
  width:100%;
  background-color:rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
  opacity: 1;
}
.notification-item-success .notification-border{
  background-color: rgba(40, 167, 69,1);
}

.notification-item-info .notification-border{
  background-color: rgb(19, 132, 150);
}

.notification-item-error .notification-border{
  background-color: rgb(220, 53, 69);
}

.notification-item-warn .notification-border{
  background-color: rgb(224, 168, 0);
}

.notification-logo,
.notification-close {
  font-size: 2rem;
  padding: 0 1rem;
}

.notification-item+.notification-item {
  margin-top: 10px;
}

.notification-logo--success {
  color: #28a745;
}

.notification-logo--error {
  color: #dc3545;
}

.notification-logo--info {
  color: #138496;
}

.notification-logo--warn {
  color: #e0a800;
}

.notification-close {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.notification-close:hover {
  color: rgba(0, 0, 0, 0.2);
}

.notification-body {
  padding: 0 1rem;
}

.notification-title {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.notification-message {
  line-height: 1.6rem;
  font-size: 1.4rem;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.notification-hide-zoom-out{
  animation: zoom-out 1s ease-in-out forwards;
}
@keyframes zoom-out{
  from {
    opacity: 0.7;
    transform:scale(1);
  }
  to {
    opacity: 0.4;
    transform:scale(0);
  }
}
@keyframes sideTopRight{
  0% {
    transform: translateX(110%);
  }
  100%{
    transform: translateX(0%);
  }
}